<nav>
  <ul id="nav">
    <li><%= link_to "Home", home_path %></li>
    <li><%= link_to "Discuss", posts_path %></li>
    <li><%= link_to "Donate", donate_path %></li>
  </ul>
  <input type="text" placeholder="Search an item" />

  <div id="user_options">
    <% if !session[:user_id] %>
      <%= link_to "Sign In", sign_in_path, class: "btn btn-default" %>
      <%= link_to "Register", new_user_path, class: "btn btn-default" %>
    <% else %>
      <%= link_to "Hello #{current_user.username}", profile_path, class: "btn btn-info" %>
      <%= link_to 'Sign Out', sign_out_path, class: "btn btn-danger" %>
    <% end %>
  </div>
</nav>
